<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationConfirmation</servlet-name>
        <servlet-class>Servlets.RegistrationConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletionConfirmation</servlet-name>
        <servlet-class>Servlets.DeletionConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationFailed</servlet-name>
        <servlet-class>Servlets.RegistrationFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginFailed</servlet-name>
        <servlet-class>Servlets.UserLoginFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginFailed</servlet-name>
        <servlet-class>Servlets.AdminLoginFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordSuccess</servlet-name>
        <servlet-class>Servlets.PasswordSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordFailed</servlet-name>
        <servlet-class>Servlets.PasswordFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSuccess</servlet-name>
        <servlet-class>Servlets.UserSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFailed</servlet-name>
        <servlet-class>Servlets.UserFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentSuccess</servlet-name>
        <servlet-class>Servlets.PaymentSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentFailed</servlet-name>
        <servlet-class>Servlets.PaymentFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPassSuccess</servlet-name>
        <servlet-class>Servlets.AdminPassSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPassFailed</servlet-name>
        <servlet-class>Servlets.AdminPassFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeSuccess</servlet-name>
        <servlet-class>Servlets.SubscribeSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubscribeFailed</servlet-name>
        <servlet-class>Servlets.SubscribeFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactSuccess</servlet-name>
        <servlet-class>Servlets.ContactSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactFailed</servlet-name>
        <servlet-class>Servlets.ContactFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEnquiry</servlet-name>
        <servlet-class>Servlets.DeleteEnquiry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubscriber</servlet-name>
        <servlet-class>Servlets.DeleteSubscriber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OTPfailed</servlet-name>
        <servlet-class>Servlets.OTPfailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SomethingWrong</servlet-name>
        <servlet-class>Servlets.SomethingWrong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationSess</servlet-name>
        <servlet-class>Servlets.RegistrationSess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProSuccess</servlet-name>
        <servlet-class>Servlets.ProSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProFailed</servlet-name>
        <servlet-class>Servlets.ProFailed</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Requestsess</servlet-name>
        <servlet-class>Servlets.Requestsess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordSess</servlet-name>
        <servlet-class>Servlets.PasswordSess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassChangeFailed</servlet-name>
        <servlet-class>Servlets.PassChangeFailed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationConfirmation</servlet-name>
        <url-pattern>/RegistrationConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletionConfirmation</servlet-name>
        <url-pattern>/DeletionConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationFailed</servlet-name>
        <url-pattern>/RegistrationFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginFailed</servlet-name>
        <url-pattern>/UserLoginFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginFailed</servlet-name>
        <url-pattern>/AdminLoginFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordSuccess</servlet-name>
        <url-pattern>/PasswordSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordFailed</servlet-name>
        <url-pattern>/PasswordFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSuccess</servlet-name>
        <url-pattern>/UserSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFailed</servlet-name>
        <url-pattern>/UserFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentSuccess</servlet-name>
        <url-pattern>/PaymentSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentFailed</servlet-name>
        <url-pattern>/PaymentFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPassSuccess</servlet-name>
        <url-pattern>/AdminPassSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPassFailed</servlet-name>
        <url-pattern>/AdminPassFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeSuccess</servlet-name>
        <url-pattern>/SubscribeSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubscribeFailed</servlet-name>
        <url-pattern>/SubscribeFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactSuccess</servlet-name>
        <url-pattern>/ContactSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactFailed</servlet-name>
        <url-pattern>/ContactFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEnquiry</servlet-name>
        <url-pattern>/DeleteEnquiry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubscriber</servlet-name>
        <url-pattern>/DeleteSubscriber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OTPfailed</servlet-name>
        <url-pattern>/OTPfailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SomethingWrong</servlet-name>
        <url-pattern>/SomethingWrong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationSess</servlet-name>
        <url-pattern>/RegistrationSess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProSuccess</servlet-name>
        <url-pattern>/ProSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProFailed</servlet-name>
        <url-pattern>/ProFailed</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Requestsess</servlet-name>
        <url-pattern>/Requestsess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordSess</servlet-name>
        <url-pattern>/PasswordSess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassChangeFailed</servlet-name>
        <url-pattern>/PassChangeFailed</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
